@model FantasyFootballPlayoffs.ViewModels.CreateLeagueViewModel
@{
    ViewBag.Title = "ManageLeague";
}

<div class="card w-100 roundedCorners px-3" id="teamSelectError">
    <div class="row">
        <div class="card-header-green w-100"><h2>Manage Leagues</h2></div>
        <div class="card-body">
            <div>
                <p class="text-blueSummer">Please note that when a league is delete it is permanent and can't be undone.</p>
            </div>

        </div>
    </div>
</div>
    <div class="p-3">
        <table id="ManageLeagueTable" class="table table-responsive-md table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th id="headerTeamName">Team Name</th>
                    <th id="headerUserName">User Name</th>
                    <th id="headerLeagueName">League Name</th>
                    <th id="blank"></th>
                    <th>Delete Team</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model.leagueDetails)
            {
                    <tr>
                        <td>@team.fantasy_Team.teamName @team.fantasy_Team.nickName</td>
                        <td>@team.user.UserName</td>
                        <td>@team.fantasy_League.leagueName</td>
                        <td></td>
                        <td>@Html.ActionLink("Delete Team", "deleteTeam", "Leagues", new { id = team.fantasy_TeamId }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
