@model FantasyFootballPlayoffs.ViewModels.CreateLeagueViewModel
@{
    ViewBag.Title = "myLeagues";
}

<div class="row mx-auto">
    <section class="league-Section">
        <h1>@Model.calendarYear.year Leagues</h1>
        @if (Model.commishLeagues != null)
        {
            foreach (var league in Model.leagueDetails)
            {
                <div class="my-boxes dropdown-inline">
                    <div class="border-bottom-leagues mb-3 mx-3">
                        @Html.ActionLink(@league.fantasy_League.leagueName, "view", "Score", new { leagueId = league.fantasy_LeagueId }, new { @class = "header-size-3 dropdown-inline" })

                    </div>
                
                   
                    @foreach (var teamDetail in Model.otherTeamDetails)
                    {
                        if (teamDetail.fantasy_LeagueId == league.fantasy_League.Id)
                        {
                            <div class="mx-3">
                                @Html.ActionLink(@teamDetail.fantasy_Team.teamName + ' ' + @teamDetail.fantasy_Team.nickName, "team", "Leagues", new { detailsId = teamDetail.Id }, new { @class = "text-blueSummer field-Text mx-4" })
                            </div>   
                        }
                    }
                </div>
            }
        }
    </section>

    <section class="pt-5">
        <h5>See Previous Years</h5>
        @using (@Html.BeginForm("myLeagues", "Leagues", FormMethod.Post, htmlAttributes: new { @class = "w-100" }))
            {
            @Html.DropDownListFor(m => m.calendarYear.Id, new SelectList(Model.calendarYears, "Id", "year"), "--Select Year--", new { @class = "form-control", @id = "yearToSubmit" })
            <div class="col-lg-3 pt-3">
                <button class="btn-primary btn" type="submit">Submit</button>
            </div>
        }
    </section>
</div>






