@model FantasyFootballPlayoffs.ViewModels.CreateLeagueViewModel
@{
    ViewBag.Title = "myLeagues";
}
<h1>@Model.calendarYear.year Leagues</h1>
<div class="row mx-auto">
    <section class="league-Section">
        
        @if (Model.commishLeagues != null)
        {
            foreach (var league in Model.leagueDetails)
            {
                <div class="my-boxes dropdown-inline">
                    <div class="border-bottom-leagues mb-3 mx-3"  data-toggle="tooltip" data-placement="top" title="View Scores">
                        @Html.ActionLink(@league.fantasy_League.leagueName, "view", "Score", new { leagueId = league.fantasy_LeagueId }, new { @class = "header-size-3 dropdown-inline" })
                    </div>
                    @foreach (var teamDetail in Model.otherTeamDetails)
                    {
                        if (teamDetail.fantasy_LeagueId == league.fantasy_League.Id)
                        {
                            <div class="mx-3 data-toggle="tooltip" data-placement="top" title="View Team">
                                @Html.ActionLink(@teamDetail.fantasy_Team.teamName + ' ' + @teamDetail.fantasy_Team.nickName, "team", "Leagues", new { detailsId = teamDetail.Id }, new { @class = "text-blueSummer field-Text mx-4" })
                            </div>   
                        }
                    }
                </div>
            }
        }
    </section>

    <section class="league-Section">
        <div class="my-boxes">
            <div class="border-bottom-leagues pb-2">
                <h3>League Rules</h3>
            </div>
            <div class="my-2">
                <p class="field-Text">Passing Stats:</p>
                <div class="mx-3">
                    <div>4 points for passing TDs</div>
                    <div>1 point for every 25 PaYds (+ fractional pts)</div>
                    <div>Plus addt'l 2 points for 300+ yards passing</div>
                    <div>Plus 1 pt for td pass 35-49 yards</div>
                    <div>Plus 2 pts for td pass 50 yards+</div>
                    <div>2 points for passing two-point conversions</div>
                    <div>Minus 2 points for passing interceptions</div>
                </div>
            </div>
            <div class="my-2">
                <p class="field-Text">Rushing Stats:</p>
                <div class="mx-3">
                    <div>6 points for rushing TDs</div>
                    <div>1 point for every 10 rushing yards (+ fractional pts)</div>
                    <div>Plus 2 pts for 100 yards rushing</div>
                    <div>Plus 3 pts for 200 yards+ rushing </div>
                    <div>Plus 1 pt for rush td of 35-49 yards</div>
                    <div>Plus 2 pts for rush td of 50 yards+</div>
                    <div>2 points for rushing two-point conversions</div>
                </div>
            </div>
            <div class="my-2">
                <p class="field-Text">Receiving Stats:</p>
                <div class="mx-3">
                    <div>6 points for receiving TDs</div>
                    <div>1 point for every 10 receiving yards (+ fractional pts)</div>
                    <div>Plus 2 pts for 100 yards receiving</div>
                    <div>Plus 3 pts for 200 yards+ receiving</div>
                    <div>Plus 1 pt for rec td of 35-49 yards</div>
                    <div>Plus 2 pts for rec td of 50 yards+</div>
                    <div>Plus .5 pts for each catch</div>
                </div>
            </div>
            <div class="my-2">
                <p class="field-Text">Defensive Stats:</p>
                <div class="mx-3">
                    <div>6 points for defensive & special teams TDs</div>
                    <div>2 points for defensive & special teams fumbles recovered</div>
                    <div>2 points for each interception</div>
                    <div>1 point for each sack</div>
                    <div>2 points for each safety</div>
                    <div>10 points for 0 points against</div>
                    <div>7 points for 1-7 points against</div>
                    <div>3 points for 8-20 points against</div>
                    <div>1 point for 21-27 points against</div>
                    <div>0 points for 28-34 points against</div>
                    <div>Minus 5 points for 35+ points against</div>
                </div>
            </div>
            <div class="my-2">
                <p class="field-Text">Kicking Stats:</p>
                <div class="mx-3">       
                    <div>3 points for Field Goals</div>
                    <div>1 point for Extra Points</div>
                    <div>Plus 1 points for a FG of 40 to 49 Yds</div>
                    <div>Plus 2 points for a FG of 50 to 59 Yds</div>
                    <div>Plus 5 points for a FG of 60+ Yds</div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <h5>See Previous Years</h5>
        @using (@Html.BeginForm("myLeagues", "Leagues", FormMethod.Post, htmlAttributes: new { @class = "w-100" }))
            {
            @Html.DropDownListFor(m => m.calendarYear.Id, new SelectList(Model.calendarYears, "Id", "year"), "--Select Year--", new { @class = "form-control", @id = "yearToSubmit" })
            <div class="col-lg-3 pt-3">
                <button class="btn-primary btn" type="submit">Submit</button>
            </div>
        }
    </section>
</div>






