@model  FantasyFootballPlayoffs.ViewModels.ScoreViewModel
@{
    ViewBag.Title = "ManageTeam";
}


<div class="row card-header-green">
        <h2>Scores</h2>
</div>
<div class="row bg-white">
    <div class="mx-3">
        <h3>Leaderboard</h3>
    </div>

</div>
<div class="row py-3 bg-white">

    <div class="col-lg-4 mx-5">       
        <div class="row d-flex justify-content-between">
            <div class="leaderBoard-Text" id="firstPlace"></div>
            <div class="leaderBoard-Text text-right" id="firstPlaceScore"></div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="leaderBoard-Text" id="secondPlace"></div>
            <div class="leaderBoard-Text" id="secondPlaceScore"></div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="leaderBoard-Text" id="thirdPlace"></div>
            <div class="leaderBoard-Text" id="thirdPlaceScore"></div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="leaderBoard-Text" id="fourthPlace"></div>
            <div class="leaderBoard-Text" id="fourthPlaceScore"></div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="leaderBoard-Text" id="fifthPlace"></div>
            <div class="leaderBoard-Text" id="fifthPlaceScore"></div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="leaderBoard-Text" id="lastPlace"></div>
            <div class="leaderBoard-Text" id="lastPlaceScore"></div>
        </div>     
    </div>
</div>


<div class="row py-3 bg-white">
    @{ var counter = 0;
        foreach (var team in Model.leagueTeams)
        {
            var teamRoster = @Model.leagueRosters.Where(m => m.fantasy_League_Detail.fantasy_TeamId == team.fantasy_TeamId).OrderBy(m => m.fantasy_Player_SlotId);
            decimal? totalPoints = 0;
        <div class="col-lg-6 dropdown-inline py-2">
            <h3 id="@counter-teamName">@team.fantasy_Team.teamName @team.fantasy_Team.nickName</h3>
            <table id="myRosterTable" class="table table-responsive-md table-condensed table-hover table-striped stats">
                <thead>
                    <tr>
                        <td>Slot</td>
                        <td>Player Name</td>
                        <td>Wild Card</td>
                        <td>Divisonal</td>
                        <td>Conference</td>
                        <td>Super Bowl</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rosterSpot in teamRoster)
                    {
                        var playerStats = Model.points.Where(m => m.playerId == rosterSpot.playerId).OrderBy(m => m.playoffRoundId).ToList();
                        decimal? totalPlayerPoints = 0;
                        if (playerStats.Any(m => m.playoffRoundId == 1) == true)
                        {
                            totalPlayerPoints = totalPlayerPoints + @playerStats.Find(m => m.playoffRoundId == 1).playerPoints;
                        }
                        if (playerStats.Any(m => m.playoffRoundId == 2) == true)
                        {
                            totalPlayerPoints = totalPlayerPoints + @playerStats.Find(m => m.playoffRoundId == 2).playerPoints;
                        }
                        if (playerStats.Any(m => m.playoffRoundId == 3) == true)
                        {
                            totalPlayerPoints = totalPlayerPoints + @playerStats.Find(m => m.playoffRoundId == 3).playerPoints;
                        }
                        if (playerStats.Any(m => m.playoffRoundId == 4) == true)
                        {
                            totalPlayerPoints = totalPlayerPoints + @playerStats.Find(m => m.playoffRoundId == 4).playerPoints;
                        }
                        totalPoints = totalPoints + totalPlayerPoints;
                        <tr>
                            <td>@rosterSpot.fantasy_Player_Slot.playerSlot</td>
                            <td>@rosterSpot.player.firstName @rosterSpot.player.lastName</td>
                            @if (playerStats.Any(m => m.playoffRoundId == 1) == true)
                            {
                                <td>@playerStats.Find(m => m.playoffRoundId == 1).playerPoints</td>

                            }
                            else
                            {
                                <td></td>
                            }
                            @if (playerStats.Any(m => m.playoffRoundId == 2) == true)
                            {
                                <td>@playerStats.Find(m => m.playoffRoundId == 2).playerPoints</td>

                            }
                            else
                            {
                                <td></td>
                            }
                            @if (playerStats.Any(m => m.playoffRoundId == 3) == true)
                            {
                                <td>@playerStats.Find(m => m.playoffRoundId == 3).playerPoints</td>

                            }
                            else
                            {
                                <td></td>
                            }
                            @if (playerStats.Any(m => m.playoffRoundId == 4) == true)
                            {
                                <td>@playerStats.Find(m => m.playoffRoundId == 4).playerPoints</td>

                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@totalPlayerPoints</td>
                        </tr>

                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td id="@counter-TotalPoints">@totalPoints</td>
                    </tr>
                </tbody>
            </table>
        </div>
                counter = counter + 1;
            }
        }
</div>
        
<script src="~/Scripts/leaderBoard.js"></script>
