@model FantasyFootballPlayoffs.ViewModels.PlayerDraftViewModel
@{
    ViewBag.Title = "Players";
}

<div class="modal" id="rules" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">League Rules</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="my-2">
                    <p class="field-Text">Passing Stats:</p>
                    <div class="mx-3">
                        <div>4 points for passing TDs</div>
                        <div>1 point for every 25 PaYds (+ fractional pts)</div>
                        <div>Plus addt'l 2 points for 300+ yards passing</div>
                        <div>Plus 1 pt for td pass 35-49 yards</div>
                        <div>Plus 2 pts for td pass 50 yards+</div>
                        <div>2 points for passing two-point conversions</div>
                        <div>Minus 2 points for passing interceptions</div>
                    </div>
                </div>
                <div class="my-2">
                    <p class="field-Text">Rushing Stats:</p>
                    <div class="mx-3">
                        <div>6 points for rushing TDs</div>
                        <div>1 point for every 10 rushing yards (+ fractional pts)</div>
                        <div>Plus 2 pts for 100 yards rushing</div>
                        <div>Plus 3 pts for 200 yards+ rushing </div>
                        <div>Plus 1 pt for rush td of 35-49 yards</div>
                        <div>Plus 2 pts for rush td of 50 yards+</div>
                        <div>2 points for rushing two-point conversions</div>
                    </div>
                </div>
                <div class="my-2">
                    <p class="field-Text">Receiving Stats:</p>
                    <div class="mx-3">
                        <div>6 points for receiving TDs</div>
                        <div>1 point for every 10 receiving yards (+ fractional pts)</div>
                        <div>Plus 2 pts for 100 yards receiving</div>
                        <div>Plus 3 pts for 200 yards+ receiving</div>
                        <div>Plus 1 pt for rec td of 35-49 yards</div>
                        <div>Plus 2 pts for rec td of 50 yards+</div>
                        <div>Plus .5 pts for each catch</div>
                    </div>
                </div>
                <div class="my-2">
                    <p class="field-Text">Defensive Stats:</p>
                    <div class="mx-3">
                        <div>6 points for defensive & special teams TDs</div>
                        <div>2 points for defensive & special teams fumbles recovered</div>
                        <div>2 points for each interception</div>
                        <div>1 point for each sack</div>
                        <div>2 points for each safety</div>
                        <div>10 points for 0 points against</div>
                        <div>7 points for 1-7 points against</div>
                        <div>3 points for 8-20 points against</div>
                        <div>1 point for 21-27 points against</div>
                        <div>0 points for 28-34 points against</div>
                        <div>Minus 5 points for 35+ points against</div>
                    </div>
                </div>
                <div class="my-2">
                    <p class="field-Text">Kicking Stats:</p>
                    <div class="mx-3">
                        <div>3 points for Field Goals</div>
                        <div>1 point for Extra Points</div>
                        <div>Plus 1 points for a FG of 40 to 49 Yds</div>
                        <div>Plus 2 points for a FG of 50 to 59 Yds</div>
                        <div>Plus 5 points for a FG of 60+ Yds</div>
                    </div>
                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="card w-100">
    <div class="card-header-green w-100"><h2>Live Draft - </h2><h2 id="leagueName">@Model.fantasyDetail.fantasy_League.leagueName</h2></div>
    
    @*draft order*@
    
        @if (Model.leagueDraftOrder.Count > 0)
        {
            int counter = 1;
            int lastPickNumber = 0;
            if (Model.lastPick != null)
            {
                lastPickNumber = Model.lastPick.draftPickNumber;
            }
            <div class="row draftBoard-Order bg-draftBoard" id="draftBoard">@*DOM Traversing used from this point to find first child element and then last grandchild element to verify if it's user turn to make pick*@

                @foreach (var pickSelection in Model.leagueDraftOrder)
                {
                    var pickNumber = (@counter + @lastPickNumber);
                    <div class="dropdown-inline draftBoard-selection border-draftBoard mx-1">
                        <div class="text-center draftBoard-TeamName">@pickSelection.detail.fantasy_Team.teamName @pickSelection.detail.fantasy_Team.nickName</div>
                        <h5 class="text-center">Pick</h5>
                        <h5 class="text-center">@pickNumber</h5>
                        <div class="text-center draftBoard-userName">@pickSelection.detail.user.UserName</div>@*Inner HTML used to determine if it is user's pick - refer to DOM Traversing Note above*@
                    </div>

                    counter = counter+1;
                }
            </div>
        }
        else if (Model.lastPick == null)
        {
            <div class="mx-auto my-2">
                <button class="btn btn-lg btn-primary" id="draftOrderBtn">Create Draft Order</button>
            </div>
        }
        else if (Model.lastPick.draftPickNumber == 84)
        {
            //do nothing
        }

    @*last player taken table*@
    <div>
        @Html.HiddenFor(m => m.fantasyDetail.Id, new { @Id = "FantasyLeagueDetail" })
        @Html.HiddenFor(m => m.fantasyDetail.fantasy_LeagueId, new { @Id = "FantasyLeagueId" })
        @Html.HiddenFor(m => m.fantasyDetailsTeams.Count, new { @Id = "FantasyLeagueCount" })
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 dropdown-inline">
                    <h3>Last Player Taken</h3>

                    <table id="lastPaperTaken" class="table table-responsive-md table-condensed table-hover table-striped stats">
                        <thead>
                            <tr>
                                <td>Player Name</td>
                                <td>Position</td>
                                <td>Team</td>
                                <td>Drafted By</td>
                                <td>Pick</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.lastPick == null)
                            {
                                <tr>
                                    <td id="lastPickName">No Player Has Been Selected</td>
                                    <td id="lastPickPosition"></td>
                                    <td id="lastPickTeam"></td>
                                    <td id="lastPickUserName"></td>
                                    <td id="lastPickNumber">0</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td id="lastPickName">@Model.lastPick.player.firstName @Model.lastPick.player.lastName</td>
                                    <td id="lastPickPosition">@Model.lastPick.player.playerPosition.position</td>
                                    <td id="lastPickTeam">@Model.lastPick.player.team.location.teamLocation @Model.lastPick.player.team.homeTeamName</td>
                                    <td id="lastPickUserName">@Model.lastPick.fantasy_League_Detail.user.UserName</td>
                                    <td id="lastPickNumber">@Model.lastPick.draftPickNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @*overview button*@
                    <div class="mx-2 my-4">
                        <div class="dropdown-inline">
                            @Html.ActionLink("Selection Overview", "Overview", "Draft", new { leagueId = Model.fantasyDetail.fantasy_LeagueId }, new { @class = "btn btn-primary m-2", target = "_blank" })
                        </div>
                        <div class="dropdown-inline">
                            <button class="btn btn-primary m-2" data-toggle="modal" data-target="#rules">See Scoring Rules</button>
                        </div>
                        
                        
                    </div>

                    @*chat container*@
                    <h3 class="my-3">Chat</h3>
                    <div class="container" id="chatRoom">
                        <div class="form-inline">
                            <input type="text" class="form-control w-100 mr-2" id="message" />
                            <input type="button" class="form-control btn-primary my-4" id="sendmessage" value="Send" />
                            @Html.HiddenFor(m => Model.fantasyDetail.user.UserName, new { @id = "displayname" })
                        </div>
                        <div style="height:350px; overflow-y:scroll">
                            <ul class="my-3" id="discussion"></ul>
                        </div>                 
                    </div>
                </div>
                @*table for user's team*@
                <div class="col-lg-6 dropdown-inline">
                    <h3>My Team</h3>
                    <table id="myTeamTable" class="table table-responsive-md table-condensed table-hover table-striped stats">
                        <thead>
                            <tr>
                                <td>Slot</td>
                                <td>Player Name</td>
                                <td>Team</td>
                                <td>Pick</td>
                            </tr>
                        </thead>
                        <tbody id="teamTableInfo">
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 1) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 1);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>QB1</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 2) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 2);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>QB2</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 3) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 3);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>RB1</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 4) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 4);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>RB2</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 5) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 5);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>WR1</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 6) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 6);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>WR2</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 7) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 7);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>WR3</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 8) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 8);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>WR4</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 9) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 9);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>TE1</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 10) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 10);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>TE2</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 11) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 11);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>D1</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 12) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 12);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>D2</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 13) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 13);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>K1</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                @if (Model.currentTeam.Any(m => m.fantasy_Player_SlotId == 14) != false)
                                {
                                    var player = Model.currentTeam.Where(m => m.fantasy_Player_SlotId == 14);

                                    <td>@player.First().fantasy_Player_Slot.playerSlot</td>
                                    <td>@player.First().player.firstName @player.First().player.lastName</td>
                                    <td>@player.First().player.team.location.teamLocation @player.First().player.team.homeTeamName</td>
                                    <td>@player.First().draftPickNumber</td>
                                }
                                else
                                {
                                    <td>K2</td>
                                    <td>No Player Selected</td>
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 py-4" id="afc12">
    <div class="row">
        <div class="col-lg-6 dropdown-inline" id="afcSeed1">           
            @if (Model.playoffteams.Count > 0)
            {
                <h3>@Model.playoffteams.First().homeTeam.location.teamLocation @Model.playoffteams.First().homeTeam.homeTeamName - AFC Seed #1</h3>
                <table id="tableAFC1" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.First().homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-lg-6 dropdown-inline" id="afcSeed2">
            @if (Model.playoffteams.Count > 1)
            {
                <h3>@Model.playoffteams.ElementAt(1).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(1).homeTeam.homeTeamName - AFC Seed #2</h3>
                <table id="tableAFC2" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(1).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<div class="col-lg-12" id="afc34">
    <div class="row">
        <div class="col-lg-6 dropdown-inline" id="afcSeed3">
            @if (Model.playoffteams.Count > 2)
            {
                <h3>@Model.playoffteams.ElementAt(2).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(2).homeTeam.homeTeamName - AFC Seed #3</h3>
                <table id="tableAFC3" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(2).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-lg-6 dropdown-inline" id="afcSeed4">
            @if (Model.playoffteams.Count > 3)
            {
                <h3>@Model.playoffteams.ElementAt(3).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(3).homeTeam.homeTeamName - AFC Seed #4</h3>
                <table id="tableAFC4" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(3).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>
    <div class="col-lg-12" id="afc56">
        <div class="row">
            <div class="col-lg-6" id="afcSeed5">
                @if (Model.playoffteams.Count > 4)
                {
                    <h3>@Model.playoffteams.ElementAt(4).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(4).homeTeam.homeTeamName - AFC Seed #5</h3>
                    <table id="tableAFC5" class="table table-responsive-md table-condensed table-hover table-striped stats">
                        <thead>
                            <tr>
                                <td>Player Name</td>
                                <td>Team Name</td>
                                <td>Position</td>
                                <td>Draft Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in Model.players)
                            {
                                if (player.teamid == Model.playoffteams.ElementAt(4).homeTeamId)
                                {
                                    <tr>
                                        <td>@player.firstName @player.lastName </td>
                                        <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                        <td>@player.playerPosition.position</td>
                                        <td>
                                            @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                            {
                                                <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                                @Html.HiddenFor(m => player.Id);
                                                @Html.HiddenFor(m => m.fantasyDetail.Id);
                                            }
                                            else
                                            {
                                                <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }

            </div>
            <div class="col-lg-6" id="afcSeed6">
                @if (Model.playoffteams.Count > 5)
                {
                    <h3>@Model.playoffteams.ElementAt(5).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(5).homeTeam.homeTeamName - AFC Seed #6</h3>
                    <table id="tableAFC6" class="table table-responsive-md table-condensed table-hover table-striped stats">
                        <thead>
                            <tr>
                                <td>Player Name</td>
                                <td>Team Name</td>
                                <td>Position</td>
                                <td>Draft Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in Model.players)
                            {
                                if (player.teamid == Model.playoffteams.ElementAt(5).homeTeamId)
                                {
                                    <tr>
                                        <td>@player.firstName @player.lastName </td>
                                        <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                        <td>@player.playerPosition.position</td>
                                        <td>
                                            @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                            {
                                                <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                                @Html.HiddenFor(m => player.Id);
                                                @Html.HiddenFor(m => m.fantasyDetail.Id);
                                            }
                                            else
                                            {
                                                <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>
<div class="col-lg-12" id="nfc12">
    <div class="row">
        <div class="col-lg-6" id="nfcSeed1">
            @if (Model.playoffteams.Count > 6)
            {
                <h3>@Model.playoffteams.ElementAt(6).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(6).homeTeam.homeTeamName - NFC Seed #1</h3>
                <table id="tableNFC1" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(6).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

        </div>
        <div class="col-lg-6" id="nfcSeed2">
            @if (Model.playoffteams.Count > 7)
            {
                <h3>@Model.playoffteams.ElementAt(7).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(7).homeTeam.homeTeamName - NFC Seed #2</h3>
                <table id="tableNFC2" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(7).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            

        </div>
    </div>
</div>
<div class="col-lg-12" id="nfc34">
    <div class="row">
        <div class="col-lg-6" id="nfcSeed3">
            @if (Model.playoffteams.Count > 8)
            {
                <h3>@Model.playoffteams.ElementAt(8).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(8).homeTeam.homeTeamName - NFC Seed #3</h3>
                <table id="tableNFC3" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(8).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

        </div>
        <div class="col-lg-6" id="nfcSeed4">
            @if (Model.playoffteams.Count > 9)
            {
                <h3>@Model.playoffteams.ElementAt(9).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(9).homeTeam.homeTeamName - NFC Seed #4</h3>
                <table id="tableNFC4" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(9).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>      
</div>
<div class="col-lg-12" id="nfc56">
    <div class="row">
        <div class="col-lg-6" id="nfcSeed5">
            @if (Model.playoffteams.Count > 10)
            {
                <h3>@Model.playoffteams.ElementAt(10).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(10).homeTeam.homeTeamName - NFC Seed #5</h3>
                <table id="tableNFC5" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(10).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

        </div>
        <div class="col-lg-6" id="nfcSeed6">
            @if (Model.playoffteams.Count > 11)
            {
                <h3>@Model.playoffteams.ElementAt(11).homeTeam.location.teamLocation @Model.playoffteams.ElementAt(11).homeTeam.homeTeamName - NFC Seed #6</h3>
                <table id="tableNFC6" class="table table-responsive-md table-condensed table-hover table-striped stats">
                    <thead>
                        <tr>
                            <td>Player Name</td>
                            <td>Team Name</td>
                            <td>Position</td>
                            <td>Draft Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.players)
                        {
                            if (player.teamid == Model.playoffteams.ElementAt(11).homeTeamId)
                            {
                                <tr>
                                    <td>@player.firstName @player.lastName </td>
                                    <td>@player.team.location.teamLocation @player.team.homeTeamName</td>
                                    <td>@player.playerPosition.position</td>
                                    <td>
                                        @if (Model.draftedPlayers.SingleOrDefault(m => m.playerId == player.Id) == null)
                                        {
                                            <btn class="btn btn-primary draftBtn" id="@player.lastName@player.Id">Draft Player</btn>
                                            @Html.HiddenFor(m => player.Id);
                                            @Html.HiddenFor(m => m.fantasyDetail.Id);
                                        }
                                        else
                                        {
                                            <button class="btn-success btn" type="submit" disabled>Drafted</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>    
</div>



@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--Live Draft Script to update Draft Page-->
    <script src="~/Scripts/liveDraft.js"></script>
}